* {
	border: 0;
}
/*
:root {
	font-size: calc(16px + (24 - 16)*(100vw - 320px)/(1920 - 320));
} */
/* body, button, input {
	font: 1em Hind, sans-serif;
	line-height: 1.5em;
}
body, input {
	color: #171717;
}
body, .search-bar {
	display: flex;
}
body {
	background: #f1f1f1;
	height: 100vh;
} */
/* .search-bar {
	display: flex;
	margin-top: -70px !important;
	padding-left: 80px;
}
.search-bar input,
.search-btn, 
.search-btn:before, 
.search-btn:after {
	transition: all 0.25s ease-out;
}
.search-bar input,
.search-btn {
	width: 3em;
	height: 3em;
	max-width: 240px;
}
.search-bar input:invalid:not(:focus),
.search-btn {
	cursor: pointer;
}
.search-bar,
.search-bar input:focus,
.search-bar input:valid  {
	width: 100%;
}
.search-bar input:focus,
.search-bar input:not(:focus) + .search-btn:focus {
	outline: transparent;
} */
/* .search-bar {
	margin: auto;
	padding: 1.5em;
	justify-content: center;
	max-width: 350px;
	max-width: 75%;
	margin-bottom: 15px;
	
}
@media (max-width: 576px) {
    .search-bar {
        max-width: 21em;
    }
}
@media (max-width: 400px) {
    .search-bar {
        max-width: 18em;
    }
}
.search-bar input {
	background: transparent;
	border-radius: 1.5em;
	box-shadow: 0 0 0 0.4em #00d0ff inset;
	padding: 0.75em;
	transform: translate(0.5em,0.5em) scale(0.5);
	transform-origin: 100% 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.search-bar input::-webkit-search-decoration {
	-webkit-appearance: none;
}
.search-bar input:focus,
.search-bar input:valid {
	background: #fff;
	border-radius: 0.375em 0 0 0.375em;
	box-shadow: 0 0 0 0.1em #d9d9d9 inset;
	transform: scale(1);
}
.search-btn {
	background: #00d0ff;
	border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
	padding: 0.75em;
	position: relative;
	transform: translate(0.25em,0.25em) rotate(45deg) scale(0.25,0.125);
	transform-origin: 0 50%;
}
.search-btn:before, 
.search-btn:after {
	content: "";
	display: block;
	opacity: 0;
	position: absolute;
}
.search-btn:before {
	border-radius: 50%;
	box-shadow: 0 0 0 0.2em #f1f1f1 inset;
	top: 0.75em;
	left: 0.75em;
	width: 1.2em;
	height: 1.2em;
}
.search-btn:after {
	background: #f1f1f1;
	border-radius: 0 0.25em 0.25em 0;
	top: 51%;
	left: 51%;
	width: 0.75em;
	height: 0.25em;
	transform: translate(0.2em,0) rotate(45deg);
	transform-origin: 0 50%;
}
.search-btn span {
	display: inline-block;
	overflow: hidden;
	width: 1px;
	height: 1px;
} */

/* Active state */
/* .search-bar input:focus + .search-btn,
.search-bar input:valid + .search-btn {
	background: #00d0ff;
	border-radius: 0 0.375em 0.375em 0;
	transform: scale(1);
}
.search-bar input:focus + .search-btn:before, 
.search-bar input:focus + .search-btn:after,
.search-bar input:valid + .search-btn:before, 
.search-bar input:valid + .search-btn:after {
	opacity: 1;
}
.search-bar input:focus + .search-btn:hover,
.search-bar input:valid + .search-btn:hover,
.search-bar input:valid:not(:focus) + .search-btn:focus {
	background: #00d0ff;
}
.search-bar input:focus + .search-btn:active,
.search-bar input:valid + .search-btn:active {
	transform: translateY(1px);
}

@media screen and (prefers-color-scheme: dark) {
	body, input {
		color: #f1f1f1;
	}
	body {
		background: #171717;
	}
	.search-bar input {
		box-shadow: 0 0 0 0.4em #f1f1f1 inset;
	}
	.search-bar input:focus,
	.search-bar input:valid {
		background: #3d3d3d;
		box-shadow: 0 0 0 0.1em #3d3d3d inset;
	}
	.search-btn {
		background: #f1f1f1;
	}
} */

.search-bar {
	margin: auto;
    margin-top: -65px;
	max-width: 400px !important;
	position: relative;
	flex-flow: unset !important;
	padding-left: 100px;
}
.search-input {
	/* width: auto !important; */
	max-width: 180px !important ;
	border-radius: 10px 0px 0px 10px !important;
	padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
	/* border: 1px solid #ced4da; */
	border: 1px solid #929292d7;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	height: 40px;
}

.search-input:focus {
	border: 1px solid #71b62b !important;
	outline: 0;
	box-shadow:  -1px 0rem 1px 2px rgba(0, 255, 78, 0.25);
}

.search-btn {
	color: white ;
	background-color: #71b62b;
	height: 41px;
	font-size: 20px;
	width: 60px;
	border-radius: 0px 10px 10px 0px;
}

.search-btn:focus {
	outline: 0;
}